.login-card-body .input-group .form-control, .register-card-body .input-group .form-control {
     border-right: 1px solid #ced4da !important; 
} 
body.login-page {
    background-color: #247ac5;
}
a.btn.btn-default.btn-primary.btn-sm.selectall{
	color:white;
	background-color:#7266ba;
}
a.btn.btn-default.btn-danger.btn-sm.delbtn.delete{
	color:white;
	background-color:#f05050;
}
a.btn.btn-default.btn-success.btn-sm.activeinactive{
	color:white;
	background-color:#27c24c;
}
button.btn.btn-navbar {
    background-color: #dee2e6;
}
h6{
	font-size: 13px;
 }
.left{
	float: left;
}
.right{
	float: right;
}
.required{
	color: red;
} 
.select2{
	width: 100%;
}
.center{
	text-align: center;
}
.displaynone{
	display: none;
}
.bold{
	font-weight: bold;
}
input.form-control.disabled.my-colorpicker1 {
    cursor: not-allowed;
}	
thead.hedercolor {
    background: #dff0d8;
}